/*
        ЦВЕТА
*/
$mainElementColor: #2268ef;
$error: #f93939;
$mainBackground: #ffffff;
$headerText: #353535;
$commonText: #6b7685;
$secondElementColor: #9e9e9e;
$disabled: #ebf2f9;
$BG-gradient: linear-gradient(132deg, #2268ef 0%, #699cff 100%);
$shadow: 0px 12px 30px #0000000f;

@mixin header {
  font-weight: 700;
  margin: 0%;
  color: $headerText;
}

@mixin bigButton {
  @include header();
  display: block;
  width: max-content;
  margin: auto;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 34px;
  border-radius: 100px;
  border: 1px solid $mainElementColor;
  text-decoration: none;
  transition: 0.2s;
}

@mixin blueTextWhiteBG {
  background-color: $mainBackground;
  color: $mainElementColor;
  border: 1px solid $mainElementColor;
}

@mixin whiteTextBlueBG {
  background-color: $mainElementColor;
  color: $mainBackground;
  border: 1px solid $mainBackground;
}

@mixin sectionAlign {
  max-width: 1420px;
  margin: 0 auto;
  padding: 200px 30px;
  @media (max-width: 1080px) {
    padding: 100px 30px;
  }
  @media (max-width: 620px) {
    padding: 50px 20px;
  }
}

@mixin sideTextBlock {
  max-width: 516px;
  h3 {
    @include header();
    font-size: 34px;
  }
  p {
    font-size: 16px;
    margin: 42px 0;
  }
  span {
    color: $mainElementColor;
  }
  @media (max-width: 1080px) {
    text-align: center;
  }
}

@mixin flexBetween() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1080px) {
    justify-content: center;
  }
}

@keyframes alienAppears {
  from {
    transform: rotate(-6deg);
    top: 25%;
    right: 230px;
  }
  to {
    transform: rotate(0deg);
    top: 20%;
    right: 250px;
  }
}

@keyframes showNavbar {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

/*
        ОСНОВА СТРАНИЦЫ
*/
* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 5px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: $mainBackground; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: $mainElementColor; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: none; /* creates padding around scroll thumb */
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

/*
        ШРИФТ
*/

h1 {
  @include header();
  font-size: 48px;
  line-height: 59px;
  span {
    color: $mainElementColor;
    @include header();
    font-size: 48px;
    line-height: 59px;
  }
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: $commonText;
}

a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: $commonText;
  text-decoration: none;
  border-top: transparent 2px solid;
  border-bottom: transparent 2px solid;
  transition: 0.2s;
  &:hover {
    color: $mainElementColor;
    border-bottom: $mainElementColor 2px solid;
  }
}

/*
        НАВИГАЦИОННАЯ ПАНЕЛЬ
*/

header {
  width: 100%;
  .navbar {
    position: relative;
    z-index: 9990;
    margin: auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    max-width: 1920px;
    height: 100px;
    background-color: $mainBackground;
    a {
      text-align: left;
    }
    .navbar__menu {
      display: grid;
      grid-template-columns: repeat(6, max-content);
      justify-self: end;
      grid-gap: 50px;
      transition: 0.5s;
      a {
        &:last-child {
          color: $mainElementColor;
          border-bottom: transparent 2px solid;
        }
        &:last-child:hover {
          color: $commonText;
          border-bottom: $commonText 2px solid;
        }
      }
    }
    .navbar__menu-button {
      @include blueTextWhiteBG();
      position: fixed;
      z-index: 9995;
      width: 50px;
      height: 50px;
      font-size: 24px;
      border-radius: 15px;
      box-shadow: $shadow;
      justify-self: end;
      display: none;
      transition: 0.1s;
      &:active {
        @include whiteTextBlueBG();
      }
      @media (max-width: 1170px) {
        display: block;
      }
    }
    @media (max-width: 1170px) {
      padding: 20px;
      .navbar__menu {
        position: fixed;
        z-index: 9995;
        top: 0;
        left: 100%;
        background-color: $mainBackground;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, max-content);
        justify-items: center;
        align-content: center;
        grid-gap: 30px;
        .navbar__menu-button {
          display: block;
        }
      }
      .active {
        left: 0%;
        animation: showNavbar 0.5s ease-in-out 1;
      }
    }
  }
}

.home {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 200px 0;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  &__text {
    @include flexBetween();
    @include sideTextBlock();
    justify-content: center;
    text-align: center;
    z-index: 2;
    max-width: 516px;
    width: 100%;
    margin-left: 120px;
    p:first-of-type {
      margin-top: 0;
    }
  }
  &__background {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(../img/earthBackground.svg) top right no-repeat;
    background-size: contain;
    .alien {
      position: absolute;
      z-index: 1;
      right: 250px;
      top: 20%;
      height: 540px;
      animation: alienAppears 2s ease-in-out 1;
    }
    @media (max-width: 1100px) {
      .alien {
        display: none;
      }
    }
    @media (max-width: 420px) {
      transform: rotate(180deg) scaleX(-1);
    }
  }
  @media (max-width: 1100px) {
    padding: 100px 0;
    &__text {
      grid-column: 1 /-1;
      padding: 0 20px;
      margin: 0;
    }
  }
  @media (max-width: 650px) {
    padding: 50px 20px;
    &__header {
      font-size: 40px;
    }
  }
}

.main-button {
  @include bigButton();
  @include whiteTextBlueBG();
  text-align: center;
  &:hover {
    @include blueTextWhiteBG();
  }
  &_reverse {
    @include bigButton();
    @include blueTextWhiteBG();
    &:hover {
      @include whiteTextBlueBG();
    }
  }
}

/*

    МОТИВАЦИОННЫЙ БЛОК

*/

.motivation {
  @include sectionAlign();
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content 1fr;
  
  header {
    @include sideTextBlock();
    @include flexBetween();
    max-width: 100%;
    margin-bottom: 100px;
    h3 {
      width: max-content;
      font-size: 24px;
    }
    p {
      margin: 0;
      width: max-content;
      @media (max-width: 1080px) {
        width: 100%;
      }
    }
  }
  article {
    @include flexBetween();
    @media (max-width: 1280px) {
      justify-content: center;
      gap: 60px;
    }
    @media (max-width: 1080px) {
      gap: 120px 0;
      margin-bottom: 100px;
    }
    .motivation__card {
      position: relative;
      min-width: 320px;
      max-width: 420px;
      min-height: 265px;
      max-height: 336px;
      box-shadow: $shadow;
      padding-top: 97px;
      margin: 0;

      .card-image {
        height: 100px;
        width: 100px;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
      }
      figcaption {
        text-align: center;
        font-size: 22px;
        @include header();
      }
      p {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        color: $commonText;
        padding: 0 36px;
        margin: 27px 0 47px 0;
      }
    }
  }
}

/*

    ДЕМОНСТРАЦИЯ ПРИЛОЖЕНИЯ

*/

.app-screen {
  @include sectionAlign();
  @include flexBetween();
  &_image {
    width: 100%;
    max-width: 620px;
    margin: 50px 0;
  }
  &__text-block {
    @include sideTextBlock();
  }
  @media (max-width: 1080px) {
    flex-direction: column-reverse;
  }
}

/*

    СРАВНЕНИЕ С ДРУГИМИ ВПН

*/

.compare {
  min-height: 800px;
  @include sectionAlign();
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  justify-items: center;
  grid-gap: 70px 0;
  header {
    max-width: 840px;
    h3 {
      @include header();
      font-size: 34px;
      text-align: center;
      span {
        color: $mainElementColor;
      }
    }
    p {
      margin: auto;
      text-align: center;
      font-size: 16px;
      max-width: 480px;
    }
  }
  &__blocks {
    width: 100%;
    @include flexBetween();
    &-item {
      min-width: 250px;
      width: 300px;
      min-height: 375px;
      box-shadow: $shadow;
      background-color: $mainBackground;
      padding: 35px;
      margin: 0%;
      border-radius: 10px;
      transform: scale(100%);
      transition: transform 0.5s;
      &:first-of-type {
        border: 2px solid $mainElementColor;
      }
      &:hover {
        transform: scale(110%);
        z-index: 5;
      }
      img {
        margin-bottom: 25px;
      }
      ul {
        list-style: none;
        .checked {
          &::before {
            content: url('../img/icons/circleAllow.svg');
          }
        }
        li {
          position: relative;

          margin: 0 0 27.5px 0;
          &:last-child {
            margin: 0;
          }
          p {
            font-size: 14px;
            margin: 0;
          }
          &::before {
            content: url('../img/icons/circleClose.svg');
            position: absolute;
            left: -40px;
          }
        }
      }
    }
  }
  @media (max-width: 1080px) {

    &__blocks {
      justify-content: flex-start;
      gap: 24px;
      padding: 0 20px;
      flex-wrap: nowrap;
      height: 500px;
      overflow-y: hidden;
      overflow-x: scroll;
    }
  }
}

/*

    ДОСТУПНЫЕ СЕРВИСЫ

*/

.services {
  @include sectionAlign();
  @include flexBetween();
  min-height: 800px;
  &__text-block {
    @include sideTextBlock();
  }
  &__text-logos {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    @media (max-width: 1080px) {
      display: none;
    }
    img {
      height: 22px;
      width: max-content;
    }
  }
  &__cover,
  &__inner-cover {
    width: 100%;
    max-width: 622px;
  }
  &__inner-cover {
    display: none;
    margin-bottom: 30px;
  }
  @media (max-width: 1080px) {

    &__cover {
      display: none;
    }
    &__inner-cover {
      display: block;
    }
  }
}

/*

    ДОСТУПНЫЕ СТРАНЫ

*/

.countries {
  @include sectionAlign();
  min-height: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px 0;
  &__text-block {
    @include sideTextBlock();
    max-width: 100%;
    p {
      max-width: 480px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 65px 55px;
    margin-bottom: 100px;
    @media (max-width: 640px) {
      gap: 10px 55px;
    }
    .countries__container {
      header {
        position: relative;
        @media (max-width: 640px) {
          width: 100vw;
          text-align: left;
          display: flex;
          align-items: center;
          padding: 10px 30px;
          &::after {
            content: url('../img/icons/arrowhead.svg');
            position: absolute;
            top: 6px;
            right: 30px;
            font-size: 20px;
            font-weight: 800;
            transform: rotate(0deg);
            transition: transform 0.3s;
          }
        }
      }
      .arrowUp {
        &::after {
          transform: rotate(180deg);
        }
      }

      .countries__block {
        @include flexBetween();
        gap: 25px;
        padding: 26px 0 0 0;
        transform-origin: top;
        transform: scaleY(1);
        justify-content: flex-start;
      }
      @media (max-width: 640px) {
        .countries__block {
          display: flex;
          padding: 0;
          height: 0;
          opacity: 0;
          transform: scaleY(0);
          transition: transform, height, opacity, padding, 0.4s;
        }
        .active {
          padding: 20px 0;
          height: max-content;
          opacity: 1;
          transform: scaleY(1);
        }
      }
    }
  }
  @media (max-width: 1080px) {
    &__text-block {
      p {
        text-align: center;
        max-width: 100%;
      }
    }
    .countries__wrapper {
      justify-content: center;
      .countries__container {
        text-align: center;
        .countries__block {
          justify-content: center;
        }
      }
    }
  }
}

/*

    ПРЕФУТЕР

*/

.pre-footer {
  background-image: url('../img/earthFooterBG.jpg');
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  min-height: 520px;
  margin: auto;
  padding: 100px 0;
  &__text-block {
    @include sideTextBlock();
    max-width: 1150px;
    text-align: center;
    p {
      font-size: 20px;
      margin: 0;
    }
    h3 {
      font-size: 48px;
      margin: 38px 0 62px 0;
    }
  }
  @media (max-width: 640px) {
    &__text-block {
      h3 {
        font-size: 40px;
      }
      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
      }
    }
  }
}

/*

    ФУТЕР

*/

footer {
  max-width: 1920px;
  min-height: 640px;
  margin: auto;
  .container {
    margin: auto;
    @include flexBetween();
    align-items: flex-start;
    gap: 50px;
    max-width: 1280px;
    article {
      padding-top: 82px;
      @include flexBetween();
      flex-direction: column;
      align-items: start;
      gap: 40px;
      &:nth-of-type(3) {
        a:hover {
          border-bottom: 2px solid transparent;
        }
      }
      header {
        font-weight: 700;
        font-size: 20px;
      }
      p {
        text-align: left;
        margin: 0;
      }
      div {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
    }
    @media (max-width: 1280px) {
      padding: 0 30px;
    }
  }
  hr {
    max-width: 1280px;
    color: $secondElementColor;
    margin: 70px auto;
  }
  .copyright {
    margin: 0 auto 70px;
    max-width: 1280px;
    @media (max-width: 1280px) {
      padding: 0 30px;
    }
  }
}
